/AutoChatTestSuite.class
/AutoChatTestSuite$ManagedProc.class
/AutoChatTestSuite$Result.class
/ManualVisualTestGuide.class
/SemiAutoChatRunner.class
/SemiAutoChatRunner$Gobbler.class
/SemiAutoChatRunner$Proc.class
